HINA_CLIENT_TOKEN=
HINA_TEXT_COMMAND_PREFIX=
HINA_THEME_COLOR=

HINA_CLIENT_OWNER_ID=

REPLY_OK_FULL_EMOJI_ID=

EXPRESS_API_TOKEN=

REGISTER_SLASH_COMMANDS=
REGISTER_SLASH_COMMANDS_DEBUG=
SLASH_COMMAND_DEBUG_SERVER_ID=