:root {
    --background-color: #888098;

    --light-primary-color: #e5d8ff;
    --primary-color: #d4c2fc;
    --dark-primary-color: #8067b6;

    --celadon: #a5e6ba;
    --vivid-sky-blue: #54c6eb;
    --nadeshiko-pink: #f5b0cb;

    --secondary-color: #96f3c9;
    --dark-secondary-color: #8dab7f;

    --yellow: #f3e496;
    --dark-color: #262626;
    --navbar-color: 43, 25, 61;
}

body {
    background: var(--background-color);
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
