a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 1.4em;
    padding: 0.4em 1em;
    border-radius: 0.6em;
    border: none;
    background: #d4c2fc;
    margin: 0.2em 0.6em;
}

.Hero {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.2) inset;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .main {
        margin-left: 12%;
        width: 35vw;

        h1 {
            font-size: 4em;
        }

        p {
            font-size: 1.4em;
        }

        .hero-btns {
            width: 80%;
            display: flex;
            justify-content: space-around;
        }
    }

    img {
        height: 30em;
        border-radius: 1em;
        margin: auto 0;
        margin-right: 15%;
        transform: rotate(4deg);
    }
}
