a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 1.4em;
    padding: 0.4em 1em;
    border-radius: 0.6em;
    border: none;
    background: #d4c2fc;
    margin: 0.2em 0.6em;
}

.Hero {
    color: white;
    margin-top: 6em;

    .main {
        margin: 0 auto 0 18%;
        width: 35vw;

        h1 {
            font-size: 4em;
        }

        p {
            font-size: 1.4em;
        }
    }
}
