a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 1.4em;
    padding: 0.4em 1em;
    border-radius: 0.6em;
    border: none;
    background: #d4c2fc;
    margin: 0.2em 0.6em;
}

.Hero {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.4) inset;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .main {
        margin-left: 12%;
        width: 35vw;

        h1 {
            font-size: 4em;
        }

        p {
            font-size: 1.4em;
        }

        .hero-btns {
            width: 80%;
            display: flex;
            justify-content: space-around;
        }
    }

    img {
        max-width: 28em;
        max-height: 30em;
        border-radius: 1em;
        margin: auto 0;
        margin-right: 15%;
        transform: rotate(4deg);
    }
}

@media screen and (max-width: 1300px) {
    .Hero {
        .main {
            h1 {
                font-size: 3.3em;
            }
            p {
                font-size: 1.2em;
            }
        }
        img {
            max-width: 23em;
            max-height: 25em;
        }
    }
}
@media screen and (max-width: 950px) {
    .Hero {
        img {
            max-width: 20em;
            max-height: 22em;
        }
    }
}

@media screen and (max-width: 780px) {
    .Hero {
        display: flex;
        justify-content: center;
        text-align: center;

        .main {
            margin: 0;
            width: 80%;

            h1 {
                font-size: 3.3em;
            }
            p {
                font-size: 1.2em;
            }
            .hero-btns button a {
                font-size: 0.9em;
            }

            .hero-btns {
                margin: 0 auto;

                button {
                    padding: 0.4em 0.5em;
                }
            }
        }
        img {
            position: absolute;
            right: 1em;
            bottom: 8em;
            opacity: 60%;
            z-index: -1;
        }
    }
}
