.statistics {
    background: var(--dark-color);
    display: flex;
    justify-content: space-around;
    padding: 2em 7%;

    img {
        height: 6em;
        color: var(--secondary-color);
    }

    div {
        height: auto;
        width: 12em;
        text-align: center;
        padding-top: 1em;

        p {
            color: var(--secondary-color);
            font-size: 1.3em;
        }
    }

    .user-stats {
        width: 15em;
    }
}

@media screen and (max-width: 1000px) {
    .statistics {
        img {
            height: 4em;
        }

        div p {
            font-size: 1.1em;
        }
    }
}
@media screen and (max-width: 780px) {
    .statistics {
        display: block;

        div,
        .user-stats {
            width: auto;

            img {
                height: 5em;
            }
            p {
                font-size: 1.4em;
            }
        }

        .user-stats {
            margin: 6em 0;
        }
    }
}
